h1 {
  text-align: center;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(216, 195, 255);

}

.flex-container {
  display: flex;
 /* flex-flow: row wrap; */
  flex-direction: column;
}

.flex-container div {
  background-color: white;
  width: 1000px;
  margin: 10px auto;
  text-align: center;
  line-height: 25px;
  border: black solid 4px;
}

.zarovnani {
   text-align: left;
  font-size: 17px;
}

a {
    color: rgb(48, 12, 114);
}

a:hover {
    color: rgb(121, 70, 187);
}


@media only screen and (max-width: 1000px) {
  .flex-container div {
      width: 100%;
  }
  
}